* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: #42145f;
}

.header__logo {
  max-height: 36px;
  margin-right: 1rem;
}

.header__title {
  color: white;
  font-size: 24px;
}

.main {
  padding: 1rem;
}

.main__group {
  margin-bottom: 1rem;
}

.main__label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 20px;
}

.main__input {
  padding: 0.5rem;
  display: block;
  font-size: 16px;
}

.main__submit {
  min-width: 4rem;
  padding: 0.5rem 1rem;
  background: #b12f8b;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
